.header {
    margin: 0px;
}

p#title {
    position: absolute;
    top: 85px;
    left: 28%;
    font-family : 'Loved by the King', cursive;
    font-size: 70;
}

body {
    overflow: hidden;
}

#header {
    height : 100%; 
    width : 100%;
    position: absolute;
}

#photo-link {
    position: absolute;
    top:949px;
    left:1014px;
    width:357px;
    height:255px;
    border:1px solid yellow;
}
