body {
    background-color: #2e5b80;
}

#myTimeline {
    left: 30px;
    flex-basis: 15%;
    align-self: flex-start;
}

.topContainer {
    display: flex;
    flex-flow: column wrap;
}

.contentContainer {
    margin-top: 58px;
    display: flex;
    flex-flow: row wrap;
}

.container {
    background-color: rgba(250, 241, 229, 0.46);
    border-radius: 5px;
    margin-top: 0px;
    margin: 15px;
    flex-grow: 3;
    flex-shrink: 1;
}

.logo {
    align-self: flex-start;
}

/* hamburger menu stuff */

.hamburger {
    display: none;
    margin-top: 10px;
    margin-left: 4%;
}

.h-bar1, .h-bar2, .h-bar3 {
    width: 35px;
    height: 5px;
    background-color: #5db5ff;
    margin: 6px 0;
    transition: 0.4s;
}

.change .h-bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .h-bar2 {
    opacity: 0;
}

.change .h-bar3 {
    transform: rotate(45deg) translate(-8px, -7px);
}

.header {
    position: absolute;
    background-color: #313543;
    flex-flow: row;
    left: 0;
    right: 0;
    align-content: ;
    height: 50px;
}

.header-item {
    display: inline-flex;
    flex-basis: auto;
    flex-grow: 1;
    color: white;
    font-size: 25;
    padding-top: 10px;
    font-family: 'BPreplay', sans-serif;
    margin-left: 1%;
}

.header-item:hover {
    background-color: yellow;
    color: red;
}

p.content {
    margin: 8px;
}

@media screen and (max-width: 600px) {
    .contentContainer {
        flex-flow: column;
    }
    
    #myTimeline {
        order: 99;
        align-self: flex-end;
    }
    
    .shown .menu {
        display: block;
    }
    
    .menu {
        display: none;
        background-color: #333;
        flex-flow: column;
    }
    
    .header-item {
        display: flex;
    }
    
    .hamburger {
        display: block;
    }
    
    
}

.menu {
    z-index: 100000;
}
